<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>The HTML5 Herald</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="static/styles.css">

</head>

<body>
	<form method="POST">
		<input name="text">
		<button type="submit" class="btn btn-light text-primary btn-block" style="margin : 20px 20px -10px 0px">Submit</button>
	</form>
		{% for x in my_list %}
			<div>{{ x }}</div>
		{% endfor %}
	
</body>
</html>